:root{
    --barraNavegacion: #9A4444;
    --clr-main: rgb(223, 86, 71);
    --blanco: white;
    --amarillo: rgb(236, 236, 50);
    --cerveza: #e6902e;
    --clr-main: rgb(223, 86, 71);
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }

.header__container, .main__container, .main__container-catalogo, .main__container-pagos, .main__container-ubicacion{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: var(--barraNavegacion);
    position: sticky;
    top: 0;
    z-index: 1;
    }.header__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }.header__container-logo img{
        max-width: 20%;
        border-radius: 50%;
    }.header__container-nav ul li{
        display: inline;    
        margin-right: 25px;
    }.header__container-nav ul li a{
        color: var(--blanco);
        font-size: 20px;
        font-weight: bold;
    }.header__container-nav ul li a:hover{
        color: var(--amarillo);
}

.carousel{
    margin-top: 1rem;
    }.carousel img{
        max-width: auto;
        max-height: 500px;
        border-radius: 50px;
}
.main__container-nosotros{
    margin: 0.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }.nosotros-texto{
        text-align: center;
    }.crearUsuario {
        margin: 1rem 1rem 1rem 10rem;
        }.crearUsuario fieldset {
        color: black;    
    }.crearUsuario input {
        display: block;
        margin: 0 5rem 0.1rem 0;
        width: 60%;
        box-sizing: border-box;
        padding: 0.5rem;
        margin: 0.5rem;
    }.crearUsuario input:focus {
        background-color: var(--amarillo);
    }.crearUsuario button {
        background-color: var(--cerveza);
        color: white;
        font-size: 1rem;
        border: none;
        padding: 0.1rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }.crearUsuario button:hover {
        background-color: var(--barraNavegacion);
    }.nosotros-video{
        border-radius: 1rem;
        overflow: hidden;
}

.main__container-catalogo{
    margin: 2rem;
}


.main__container-pagos{
    text-align: center;
    }.main__container-pagos h3{
        text-decoration: underline;
        text-align: center;
    }.main__container-pagos img{
        display: inline-flex;
        width: 5%;
        margin-right: 5rem;
}

.main__container-ubicacion{
    text-align: center;
    margin-top: 2rem;
}


.footer{
    width: 100%;
    background-color: var(--barraNavegacion);
    text-align: center;
    position: relative;
    }.footer small {
        text-align: center;
        font-size: 1rem;
        color: var(--blanco);
    }.footer-carritoCompras{
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 1rem;
    }
    .footer-carritoCompras p {
        display: flex; 
        align-items: center;
        background-color: red;
        color: white; 
        padding: 10px; 
        border-radius: 50%; 
        margin-left: 5px; 
}


/* estilos comunes*/
.strong{
    font-weight: bold;
}
.letraFondo{
    background-color: red;
    border-radius: 10px;
}


/*      ESTILOS DE LOS ARCHIVOS INCORPORADOS MEDIANTE JAVASCRIPT     */
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}.producto-imagen {
        max-width: 100%;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }.producto-detalles {
        background-color: var(--clr-main);
        color: var(--clr-white);
        padding: .5rem;
        border-radius: 1rem;
        margin-top: -2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        text-align: center;
    }.producto-titulo {
        font-size: 1rem;
    }.producto-agregar {
        border: 0;
        background-color: var(--clr-white);
        color: var(--clr-main);
        padding: .4rem;
        text-transform: uppercase;
        border-radius: 2rem;
        cursor: pointer;
        border: 2px solid var(--clr-white);
        transition: background-color .2s, color .2s;
    }.producto-agregar:hover {
        background-color: var(--clr-main);
        color: var(--clr-white);
}


/*      Estilos del panel lateral       */
.cart-panel {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -300px; 
    background-color: white;
    z-index: 1;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  #close-cart {
    margin-bottom: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  /* Estilos para ocultar el panel lateral */
  #cart-panel.open {
    right: 0;
  }


/** CARRITO **/
.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}
.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}
.carrito-producto small {
    font-size: .75rem;
}
.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}
.carrito-acciones {
    display: flex;
    justify-content: space-between;
}
.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}
.carrito-acciones-derecha {
    display: flex;
}
.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}
.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.header-mobile {
    display: none;
}
.close-menu {
    display: none;
}
.disabled {
    display: none;
}